/*html {
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
ALWAYS PUT ONTOP OF EVERY CSS
}*/

html {
background-color: white;
  box-sizing: border-box;
}
*,*::before, **::after{
  box-sizing: inherit;
}

header {
  padding: .01em;
  margin: 0em;
  background-color: #d05c2e;
  width: 100%;
}

h1 {
  font-family: 'merriweather', serif;
  font-size: 1.5em;
  text-align: center;
  color: white;
  padding: 0em;
font-weight: normal;
}

h2 {
  background-color: #d05c2e;
  text-align: center;
  color: white;
  font-family: 'merriweather', serif;
  font-size: 1.1em;
  padding: 1em;
  margin: 0;
clear: both;
font-weight: normal;
}

h3 {
  text-align: center;
  color: black;
  font-family: 'merriweather', serif;
  font-size: 1.1em;
  padding: 0em, 2em;
font-style: ultra bold;
margin-bottom: 1em;
}


.grain-1 {
  float: left;
  width: 6%;
  padding: 0.5em 0em 0em 0em;
}

.grain-2 {
  float: right;
  width: 6%;
  padding: 0.5em 0em 0em 0em;
}


li {
  font-family:"merriweather", sans;
  display: inline-block;
  color: white;
  background-color: #d05c2e;
  margin: 0em;
  padding: 0em;
}

nav {
  clear: both;
  width:auto;
}

nav li{
float: left;
width: 32.9%;
color: white;
padding: 0;
border: darkred solid 1px;
text-align: center;
display: inline-block;
text-decoration: none;
}

nav a{
  display: block;
  padding: 0.5em 0.75em 0.75em;
margin: 0px;
background-color: #d05c2e;
color: #fff;
text-decoration: none;
}

nav a:hover {
  background-color: #a93f35;
}

ol {
  margin: 0em;
  padding: 0;
  width: 100%;
}

nav ol{
  overflow: hidden;
}

p {
  font-family: 'Merriweather', serif;
  font-size: .7rem;
  line-height: 1.6em;
  width: 100%;
margin: 10px;
margin-bottom: 1em;
}
.p2{
  width: 57%;
  margin-bottom: 0.5em;
clear: left;
}

.peanuts {
  width: 25%;
  float: left;
  padding: 0. 5em;
  margin-right: .5em;
  margin-bottom: 1em;
}

.beans {
  width: 25%;
  float: left;
  margin-right: .5em;
  margin-bottom: 1em;
}

.clear-it {
  clear: left;
}

.grains{
  float: left;
  float: left;
  width: 22%;
  margin-top: 0.7em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  width: 33.33%;
  border: lightgrey solid 1px;
}

.inset{
  float: left;
  width: 25%;
  padding: 0. 5em;
  margin-right: .5em;
  margin-left: .5em;
  margin-bottom: 1em;
  border: lightgrey solid 1px;
}

.cereal{
  width: 33.33%;
  float: right;
margin-right: 0.5em;
margin-left: 0.5em;
margin: 0px;
margin-bottom: 0em;
border: lightgrey solid 1px;
clear: left;
}

.quinoa{
  width: 33.33%;
  float: right;
  margin: 0px;
  clear: both;
  border: lightgrey solid 1px;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.clear-it{
  clear: left;

}

footer{
  background-color: #d05c2e;
  text-align: center;
  padding: 1.5em;
  margin: 15em 0em 0em 0em;
  font-family: 'Merriweather', serif;
  font-size: .5em;
  color: white;
clear: both;
}

figcaption{
  background-color: #d05c2e;
  color: white;
  text-align: center;
  margin: 0em;
  padding: 0.9em;
  font-style: italic;
  font-family: 'merriweather', serif;
  font-size: .3em;
}

figure {
  background-color: #d05c2e;

  width: 100%;
  margin: 0em;
  padding: 0em;
}

img {
  width: 100%;
  margin: 0em;
  padding: 0em;
}

main {
  float: left;
  padding: 0em;
  margin: 0em;
  width: 100%;
}

aside {
  float: left;
  width: 50%;
  padding:0em;
  margin: 0em;
}

.p2 {
  width: 63%;
}

.pbl {
  font-style: italic;
  font-size: .6em;
  margin:0;
  padding: 0em;
  float: right;
  width: 70%;
}

body {
  margin: 0em;
}

aside{
  float: left;
  width: 50%;
  padding-bottom: 1em;
  margin: 0;
}
