/*html {
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
ALWAYS PUT ONTOP OF EVERY CSS
}*/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.grain-1 {
  float: left;
  width: 6%;
  padding: 0.5em 0em 0em 0em;
}

.grain-2 {
  float: right;
  width: 6%;
  padding: 0.5em 0em 0em 0em;
}

.grains {
  float: left;
  width: 33.33%;
  margin-right: 15px;
  padding: 0.5em 0em 0.5em 0em;
}

.cereals {
  float: right;
  width: 33.33%;
  clear: right;
  padding: 0em 0em 0.5em 0.5em;
}

.quinoa {
  float:right;
  width: 33.33%;
  clear: right;
  padding: 0em 0em 0.5em 0.5em
}

.p2 {
  clear: left;
}

 div {
   background-color: #d05c2e ;
   overflow: hidden;
 }

 nav {
   background-color: #d05c2e;
   text-align: center;
 }

 nav ol {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;

 }

 nav a {
   display: inline-block;
   padding: 0.5em 0.75em 0.75em;
   margin: 0px;
   background-color: #d05c2e;
   color: #fff;
   text-decoration: none;
   border: 1px;
 }

 nav a:hover {
   background-color: #a93f35;
 }

 nav li {
   font-weight: normal;
   font-color: #fff;
   font-size: 1rem;
   font-style: normal;
   font-family: 'Merriweather';
   line-height: 1;
   float: left;
   width: 33.333%;
 }

h1 {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  background-color: #d05c2e;
  display: block;
  padding: 15px;
  margin: 0;
  font-family: 'Merriweather';
}


 main {
   background-color: #d05c2e;
   float: left;
   /*width: calc(75% - 2em);*/
   width: 75%;
   padding: 1em;
 }

h2 {
  color: #fff;
  text-align: center;
  font-family: 'Merriweather';
  font-size: 1em;
  padding: .5em .5em;
}

.corn{
  width: 100%
}
